// Colors and fonts

// Color 
$grey: #686464;
$black: #1e1e1e;
$white: #f4f3f2;
$red: #b20000;
$orange: #e8aa4e;

// Background
$back_web_darker: #070707;
$back_web_lighter: #14181c;

$back_menu_espera: #333333;
$back_menu_lighter: #748495;
$back_menu_medium: #2a323a;
$back_menu_darker: $back_web_lighter;


// Fonts
$fjalla: "Fjalla One", sans-serif;
$manrope: "Manrope", sans-serif;
$merri: "Merriweather", serif;
