@use "../utilities/_variables.scss" as v;

// slider style

.backlogToday {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2.5rem;
    color: v.$white;
    font-family: v.$merri;
    text-align: center;
    margin-bottom: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .splide {
    width: 70%;
    max-width: 500px;
    height: 300px;

    .splide__track {
      height: 400px;

      .splide__list {
        .splide__slide {
          cursor: pointer;
          border-radius: 10px;

          .storyInfo {
            background-image: linear-gradient(
              to top,
              v.$back_web_lighter,
              rgba(0, 0, 0, 0)
            );
            width: 100%;
            height: auto;
            align-self: flex-end;
            align-items: flex-end;
            justify-content: left;

            &__p {
              font-size: 1.5rem;
              color: v.$white;
              font-family: v.$fjalla;
              text-align: left;
              margin-bottom: 2rem;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .splide__navigation {
      height: 50px;
    }
  }
}

.splide__pagination {
  li {
    .splide__pagination__page {
      background-color: v.$white;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem;
      opacity: 1;
    }

    .is-active {
      background-color: v.$grey;
    }
  }
}

// Media Queries

@media screen and (max-width: 900px) {
  .backlogToday {
    width: 100%;
    min-width: 400px;
    margin-bottom: 4rem;
  }
}
